.root {
    background-color: #B4A4BF;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.dateCard {
    height: 18vh;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.todayTxt h1 {
    margin-left: 3vw;
    font-size: 3.2vw;
}

.dateTxt h1 {
    margin-left: 3vw;
    font-size: 1.6vw;
}

.pomodoroTimer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 70%;
    height: 65%;
    margin: 2.5vh auto 0 auto;
    padding: 1.5vh 2.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.pomodoroTxt h1 {
    font-size: 1.2vw;
    margin: 0;
}

.pomodoroTimerButton {
    width: 5vw;
    height: 8vh;
    margin-top: 0vh;
    margin-left: 2vw;
    border-radius: 15px;
    background-color: #FABB18;
    border: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pomodoroTimerButton:hover {
    background-color: #ffc933;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.pomodoroTimerButton:active {
    background-color: #e5a900;
    transform: scale(0.95);
}

.pomodoroTimerButton i {
    font-size: 34px;
}

.statsCard {
    background-color: white;
    width: 85%;
    height: 26vh;
    margin: 2.5vh auto;
    border-radius: 20px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.statsCard h1 {
    text-align: left;
    font-size: 1.4vw;
    padding-top: 1.8vh;
    padding-left: 2.5vw;
}

.statsCardContent {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5vw;
}

.statsCard h2 {
    font-size: 2.5vw;
    padding-top: 3vh;
    margin: 0;
}

.statsCard i {
    width: 4.2vw;
    height: 4.2vw;
    font-size: 3.4vw;
    margin-top: 3.2vh;
    border-radius: 50%;
    background-color: #FABB1830;
    color: #e5a900;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.activeCard {
    background-color: white;
    width: 85%;
    height: 34vh;
    margin: 4vh auto;
    border-radius: 20px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.activeCard h1 {
    text-align: left;
    font-size: 2vw;
    padding-top: 2.5vh;
    padding-left: 2.5vw;
}
