@font-face {
  font-family: 'Jersey 10';
  src: url('./Static/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}