@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:wght@500;700&family=Jersey+10&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

header {
  background-color: #DED2E5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

header .menu-icon {
  font-size: 36px;
  margin-right: 24px;
}

main {
  top: 56px;
  left: 280px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
}

#sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
}

/** BOOTSTRAP OVERRIDE */

.btn-primary { 
  color: #000000!important; 
  background-color: #FABB18!important; 
  border-color: #FABB18!important; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #000000!important; 
  background-color: #DBA41B!important; 
  border-color: #FABB18!important; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none!important; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #FABB18!important; 
  border-color: #FABB18!important; 
} 
 
.btn-primary .badge { 
  color: #FABB18!important; 
  background-color: #000000!important; 
}

.form-control:focus {
  border-color: #9C27B0!important;
  box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.25)!important;
} 

.dropdown-item:active {
  background-color: #9C27B0!important;
}

.nav-link {
  color: #212121!important;
}

.nav-link:hover {
  color: #9C27B0!important;
}

.nav-link.active {
  background-color: #212121!important;
  color: white!important;
}
