/* Layout container */
.layout-container {
  display: flex;
  height: 100vh;
  background-color: #B4A4BF;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  background-color: #E9E9E9;
  color: black;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 5px 5px;
}

.sidebar nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.sidebar nav ul li a:hover {
  color: #dcaeee;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: inherit;
}

.sidebar-link:hover {
  background-color: #eaeaea;
  border-radius: 4px;
}

.icon {
  object-fit: contain;
  vertical-align: middle;
}

/* Main content styles */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* Header styles */
.header {
  background-color: #DED2E5;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.user-info {
  text-align: right;
}

/* Content area styles */
.content-area {
  padding: 20px;
  flex-grow: 1;
  background-color: #B4A4BF;
}