@font-face {
  font-family: 'Jersey 10';
  src: url('../Static/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pomodoroRoot {
    display: flex;
    margin-top: 50px;
    -webkit-app-region: drag;
    font-family: 'Jersey 10', sans-serif;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 22px;
    box-sizing: border-box;
}

.petModel {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}


.pomodoroTimerRoot {
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 110px;
    margin-top: -50px;
}

/* NAVIGATION BAR  */
.navBar {
    display: flex;
    width: 120px;
    height: 40px;
    margin-top: 10px;
}

.settings, .calendar, .notes {
    border: none;
    cursor: pointer;
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0.35;
    transition: opacity 0.3s ease;
}

.settings {
    left: 20px;
}

.calendar {
    left: 50px;
}

.notes {
    left: 80px;
}

.settings:hover, .calendar:hover,.notes:hover {
    opacity: 1;
}

.settings:active, .calendar:active, .notes:active {
  transform: scale(0.9);
}

/* TIMER  */
.timerBackground {
    display: flex;
    width: 200px;
    height: 100px;
    position: absolute;
    margin-top: 50px;
    background-color: #DED2E5;
    border: 3px solid #8F7A97;
    border-radius: 15px;
    justify-content: space-between; /* Space between the two timers evenly */
    padding: 5px; /* Adjust padding if necessary */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.innerBackground {
    width: 180px;
    height: 85px;
    background-color: #8F7A9789;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    
}

.timerLabel {
    margin-left: 60px;
    margin-top: 5px;
    color: white;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);
}

.timerCountdown {
    width: 150px;
    height: 45px;
    margin-left: 18px;
    margin-top: 1px;
    font-size: 60px;
    text-align: center;
    line-height: 75%;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.timerButton {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #8F7A97;
    color: white;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 7px;
    margin-top: 175px;
    margin-left: 90px;
    font-size: 18px;
    line-height: 0px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
    -webkit-app-region: no-drag;
}

.timerButton:hover {
    opacity: 1;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6);
}

.timerButton:active {
  transform: scale(0.9);
}
/* Timer Controller */

